/*
Main
*/
h1 {
  color:royalblue;
  font-family: verdana;
  text-align: center;
  background-color: rgb(205, 228, 236);
  border: 4px solid skyblue;
  padding: 20px;
}
h2 {
  color:royalblue;
  font-family: verdana;
  text-align: center;
}
p {
  text-align: center;
}

/* --- TOP NAVIGATION ---
Reference https://www.w3schools.com/howto/howto_js_topnav.asp
 */
 /* Nav bar backgroun */
.topnav {
  background-color: skyblue;
  font-family: verdana;
  text-align: center;
  overflow: hidden;
}

/* Style the links inside the nav bar*/
.topnav a {
  float: left;
  color: royalblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: verdana;
  font-size: 17px;
}

/* Change the color on hover */
.topnac a:hover {
  background-color: blueviolet;
  font-family: verdana;
  color: black;
}

/* Add color to active link */
.topnav a.active {
  background-color: purple;
  font-family: verdana;
  color: white;
}

/* --- FOOTER --- */
.footer {
  background-color: skyblue;
  text-align: center;
}


/*
CSS hover tricks
  taken from: 
  https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_fade
*/
 .container {
  position: relative;
  width: 50%;
  }
.image {
  display: block;
  height: auto; 
  width: 3.5%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.container:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#githubIconLink {
  background-image: url(https://unpkg.com/simple-icons@v3/icons/github.svg);
  background-repeat: no-repeat;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: "32"; 
  width: "32";
}